body {
	background: url(https://images.unsplash.com/photo-1504204267155-aaad8e81290d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
	background-position: center;

	color: white;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 35%;
	color: #6e5773;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: white;
}

#content > h1 {
	font-family: 'Candal', sans-serif;
	color: #21243d;
	font-size: 5em;
}

#content > h3 {
	color: #6e5773;
}

hr {
	width: 500px;
	border-top: 1px solid #5b8c5a;
	border-bottom: 1px solid rgb(0, 0, 0.2);
	text-shadow: 0px 4px 3px red;
}
